:root{
  --color-primary:rgb(37, 99, 235);
  --color-accent:rgb(245, 158, 11);
  --color-success:rgb(16, 185, 129);
  --color-background:#F9FAFB;
  --color-surface:#ffffff;
  --color-text-1:#111827;
  --color-text-2:#6B7280;
  --color-border:#E5E7EB;
  --color-label:#ffffff;
  --radius:6px;
}

[data-theme="darkmode"]{

  --color-background:#111827;
  --color-surface:#1F2937;
  --color-text-1:#F9FAFB;
  --color-text-2:#9CA3AF;
  --color-border:#374151;
  --color-label:#888888;
}

body{
  font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  background: var(--color-background);
  color: var(--color-text-1);
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
